body {
	margin: 0;
	font-family: Arial;
}
p {
}
button {
	border: none;
	padding: 8px 30px;
	margin-right: 15px;
	font-size: 25px;
	color: #fff;
}
.container {
	margin: 0 auto;
	padding: 30px 40px;
	width: 1020px;
	/*background-color: #D8D8D8;*/
}
.red {
	background-color: #D0021B;
}
.blue {
	background-color: #4A90E2;
}
.black {
	background-color: #4A4A4A;
}
.content {
	background-color: #fff;
	padding: 30px;
	overflow: auto;
}
.col {
	width: 47.5%;
	float: left;
}
.col:first-child {
	margin-right: 5%;
}
.pic {
	height: 300px;
	width: 100%;
	background-color: #D8D8D8;
}
.pic p {
	color: #fff;
	font-size: 40px;

}
.header {
	overflow: auto;
}
.header-nav {
	width: 1020px;
	margin: 0 auto;
}
.footer {
	height: 100px;
	float: clear;
}
ul {
	padding-left: 0;
	margin: 0;
}
ul li {
	display: inline-block;
	color: #fff;
	padding: 25px;
}